.ant-spin {
  &-dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.spinner {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      vertical-align: middle;

      div {
        transform-origin: 16px 16px;
        animation: lds-spinner 1.5s linear infinite;
      }
      div:after {
        content: '';
        display: block;
        position: absolute;
        left: 14px;
        width: 3px;
        height: 8px;
        border-radius: 25%;
      }
      div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.5s;
        &::after {
          background: linear-gradient(341.65deg, #7546d7 -435.6%, #ab93fc -177.24%, #3bcaff 121.94%, #00bdea 259.84%);
        }
      }
      div:nth-child(2) {
        transform: rotate(22.5deg);
        animation-delay: -1.4s;
        &::after {
          background: linear-gradient(328.42deg, #7546d7 -317.04%, #ab93fc -92.89%, #3bcaff 166.68%, #00bdea 286.33%);
        }
      }
      div:nth-child(3) {
        transform: rotate(45deg);
        animation-delay: -1.3s;
        &::after {
          background: linear-gradient(315deg, #7546d7 -237.47%, #ab93fc -23.57%, #3bcaff 224.12%, #00bdea 338.29%);
        }
      }
      div:nth-child(4) {
        transform: rotate(67.5deg);
        animation-delay: -1.2s;
        &::after {
          background: linear-gradient(301.58deg, #7546d7 -185.48%, #ab93fc 38.68%, #3bcaff 298.25%, #00bdea 417.9%);
        }
      }
      div:nth-child(5) {
        transform: rotate(90deg);
        animation-delay: -1.1s;
        &::after {
          background: linear-gradient(288.35deg, #7546d7 -158.85%, #ab93fc 99.51%, #3bcaff 398.68%, #00bdea 536.59%);
        }
      }
      div:nth-child(6) {
        transform: rotate(112.5deg);
        animation-delay: -1s;
        &::after {
          background: linear-gradient(301.58deg, #7546d7 -94.74%, #ab93fc 129.43%, #3bcaff 389.01%, #00bdea 508.66%);
        }
      }
      div:nth-child(7) {
        transform: rotate(135deg);
        animation-delay: -0.9s;
        &::after {
          background: linear-gradient(315deg, #7546d7 -75.45%, #ab93fc 138.44%, #3bcaff 386.14%, #00bdea 500.31%);
        }
      }
      div:nth-child(8) {
        transform: rotate(157.5deg);
        animation-delay: -0.8s;
        &::after {
          background: linear-gradient(328.42deg, #7546d7 -94.74%, #ab93fc 129.42%, #3bcaff 389%, #00bdea 508.65%);
        }
      }
      div:nth-child(9) {
        transform: rotate(180deg);
        animation-delay: -0.7s;
        &::after {
          background: linear-gradient(341.65deg, #7546d7 -158.85%, #ab93fc 99.51%, #3bcaff 398.68%, #00bdea 536.59%);
        }
      }
      div:nth-child(10) {
        transform: rotate(202.5deg);
        animation-delay: -0.6s;
        &::after {
          background: linear-gradient(328.42deg, #7546d7 -185.48%, #ab93fc 38.68%, #3bcaff 298.26%, #00bdea 417.91%);
        }
      }
      div:nth-child(11) {
        transform: rotate(225deg);
        animation-delay: -0.5s;
        &::after {
          background: linear-gradient(315deg, #7546d7 -237.47%, #ab93fc -23.57%, #3bcaff 224.12%, #00bdea 338.29%);
        }
      }
      div:nth-child(12) {
        transform: rotate(247.5deg);
        animation-delay: -0.4s;
        &::after {
          background: linear-gradient(301.58deg, #7546d7 -317.04%, #ab93fc -92.89%, #3bcaff 166.68%, #00bdea 286.33%);
        }
      }
      div:nth-child(13) {
        transform: rotate(270deg);
        animation-delay: -0.3s;
        &::after {
          background: linear-gradient(288.35deg, #7546d7 -435.6%, #ab93fc -177.24%, #3bcaff 121.94%, #00bdea 259.84%);
        }
      }
      div:nth-child(14) {
        transform: rotate(292.5deg);
        animation-delay: -0.2s;
        &::after {
          background: linear-gradient(301.58deg, #7546d7 -407.79%, #ab93fc -183.63%, #3bcaff 75.95%, #00bdea 195.6%);
        }
      }
      div:nth-child(15) {
        transform: rotate(315deg);
        animation-delay: -0.1s;
        &::after {
          background: linear-gradient(315deg, #7546d7 -399.49%, #ab93fc -185.59%, #3bcaff 62.1%, #00bdea 176.28%);
        }
      }
      div:nth-child(16) {
        transform: rotate(337.5deg);
        animation-delay: 0s;
        &::after {
          background: linear-gradient(315deg, #7546d7 -399.49%, #ab93fc -185.59%, #3bcaff 62.1%, #00bdea 176.28%);
        }
      }
    }
  }

  &-container::after {
    background: transparent;
  }

  &-nested-loading > div > .ant-spin {
    max-height: none;
  }
}
